body, html{
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    color: black;
    margin: 0;
    padding: 0;
}

nav{ 
    display: flex;
    /* width: 100%;  */
    border-bottom: 2px solid gray; 
    padding: 2%;
    justify-content: space-around;
}

nav a{
color: black;
text-decoration: none;
font-weight: bold;
}

nav ul{
   list-style: none;
   display: flex;
   flex-direction: row;
    gap: 15px;
}


header{
    height: 30vh;
    display: flex;
    flex-direction: row;
    padding: 2%;
}
header .presentation{
    width: 50%;
    
}

header a{

    background-color: black;
    color: white;
    padding: 15px;
    background-color: white;
    color: black;
    padding: 15px;
}

header span{
    background-color: white;
    color: black;
    padding: 0,5%;
}

 #work{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
    padding: 32px;
    gap: 32px;
 }

 #work iframe{
    width: 10vw;
 }

#work article{
    display: flex;
       background: white; 
       color: black;
       width: 100%;
       gap: 16px;
    }

main{
    padding: 2%;
}


















