body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

nav{
    background: black;
    color: white;
    display: flex;
    width: 100%;
    ul {
   list-style: none;
   display: flex;
    gap: 15px;
    width: 100%;
    }

    }

header{
    background: white;
    color: black;
    height: 70vh;
}
header a {
    background-color: black;
    color: white;
    padding: 20px;
}

header span{
    background-color: white;
    color: black;
    padding: 1%;
}
