body, html{
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    color: black;
    margin: 0;
    padding: 0;
}

nav{ 
    display: flex;
    /* width: 100%;  */
    border-bottom: 2px solid rgb(248, 245, 245); 
    padding: 2%;
    justify-content: space-around;
}

nav a{
color: black;
text-decoration: none;
font-weight: bold;
}

nav ul{
   list-style: none;
   display: flex;
   flex-direction: row;
    gap: 15px;
}


header{
     height: 30vh;
    display: flex;
    flex-direction: row;
    padding: 2%;
   
}
header .presentation{
    width: 50%;
    
}

header a{

    background-color: black;
    color: white;
    padding: 15px;
    background-color: white;
    color: black;
    padding: 15px;
}

header span{
    background-color: white;
    color: black;
    padding: 0,5%;
}

 #work{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
    padding: 32px;
    gap: 32px;
 }

 #work iframe{
    width: 10vw;
 }

#work article{
    display: flex;
       background: white; 
       color: black;
       width: 100%;
       gap: 16px;
    }
section ul{
   list-style: none;
   display: flex;
   flex-direction: row;
    gap: 15px;
}

main{
    padding: 2%;
}


#background{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background: black;
    color: white;
}

footer{
    text-align:center;
    position: fixed;
    bottom:0;
    width:100%;
    display:inline-block;
    vertical-align:top;
    font-size:13px;
    justify-content: center;
    background: black;
    color: white;
}


















